@model List<MVCapp.Models.Team>

@{
    ViewBag.Title = "Leagues";
}

<h2>League Table</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <label for="selectedRound">League:</label>
    @Html.DropDownList("selectedLeagueId", (SelectList)ViewBag.Leagues, "Select League", new { onchange = "this.form.submit();" })
}

<table class="table">
    <thead>
        <tr>
            <th>Team</th>
            <th>PKT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name <img src="@team.Logo" /></td>
                <td>20</td>

            </tr>
        }
    </tbody>
</table>